* { font-family: "Montserrat", sans-serif; }

.skin-blue .main-header .logo {
  width:100%;
  background-color: #93af37;
}

.skin-blue .main-header .logo:hover {
  width:100%;
  background-color: #fff;
  color:#93af37;
}


.skin-blue .main-header .navbar {
  background-color: #93af37;
  display:none;
}

